{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create New Page
{%endblock %}

{% block body %}
    <h1>Create New Page</h1>

    <form action="{% url 'create' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Title">
        </div>
        <div class="form-group">
            <label for="content">Content</label>
            <textarea class="form-control" id="content" name="content" placeholder="Write page content in markdown" rows="10"></textarea>
        </div>
        <input type="submit" value="Save" class="btn btn-primary"/>
    </form>
{% endblock %}